<div id="content">
  <div id="left">
    <div class="polaroid">
      <%= link_to image_tag(@picture.avatar_url(:thumb)), @picture if @picture.avatar? %>
      <div class="gallery_container">
        <p><%= link_to @picture.name.html_safe, @picture %></p>
      </div>
    </div>
    <hr>
    <h1>All tags</h1>
    <h5>for</h5>
    <h4><%= @picture.name.html_safe %></h4>
    <br>
    <% @uniq_tags.each do |tag| %>
      <%= link_to tag.name, picture_tag_path(@picture, tag) %><br>
    <% end %>
  </div>

  <div id="right">

    <% @tags.each do |tag| %>
      <%= render 'tag_form', tag: tag %>
    <% end %>
  </div>
</div>
